.col1 {
    padding-top: 80px;
  }
  
  .card {
    width: 230px;
  }
  
  .img {
    width: 230px;
    height: 350px;
  }
  
  .col2 {
    padding-top: 40px;
    padding-right: 500px;
  }
  
  .btn {
    width: 100px;
  }
  